@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --border: oklch(1 0 0 / 10%);
    --ring: oklch(0.527 0.154 150.069);
    --primary: oklch(0.696 0.17 162.48);
    --primary-foreground: oklch(0.393 0.095 152.535);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border outline-none focus-visible:ring-2 focus-visible:ring-[color:var(--ring)/50];
  }

}
